#kitten {
  height: 100px;
}


html {
  text-align: center;
  background: url(http://s21.postimg.org/4ds7jpuef/IMG_8161.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body h3 {
  text-align: center;
  color: #4080bf;
  font-size: 3.5em;
  font-family: Helvetica;
  font-weight: lighter;
}

a:link {
  color: #6b6b47;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1em;
  text-decoration: none;
}

a:visited {
  color: #adad85;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1em;
  text-decoration: none;
}

div {
  font-size: 1em;
  font-family: Helvetica;
  font-weight: lighter;
  align-content: center;
  background-color: white;
  opacity: 0.5;
  height: 100%;
  width: 75%;
  margin: 0 auto;
}
img {
  height: 50%;
  width: 50%;
}
