
body {
  background-color: #c3e5e4;
  font-family: 'Nunito', sans-serif;
}
.navbar {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 7px;
  /*background: rgba(255, 255, 255, 0.7);*/
  border-bottom: none;
  min-height: 65px;
  box-shadow: none;
}

.navbar-default {
  background-color: white;
  border-radius: 0px;
}

.navbar-default .navbar-header>a {
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  color: #6accca;
}

.navbar-default .navbar-header>a:hover{
  color: #d0efef;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #d0efef;
}

.navbar-default .navbar-nav>li>a {
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  color: black;
}

.me-photo {
  margin-top: 40px;
  margin-left: 75px;
  opacity: .9;
  max-height: 500px;
  max-width: auto;
  opacity: .8;
}

.me-photo:hover {
  opacity: 1;
}

.pad-top {
  padding-top: 50px;
}

.welcome {
  margin-top: 50px;
}

.welcome>a {
  color: white;
  font-family: 'Coiny', cursive;
  font-size: 4em;
}

.welcome>a:hover {
  color: black;
  text-decoration: none;
}

.enter {
  color: black;
  font-family: 'Ubuntu', cursive;
  font-size: 4em;
}
